body {
  margin-left: 0px;
}

.allPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 720px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.allPage .explorer-item {
  margin: 10px;
}

.page-content {
  margin-right: -10px;
  margin-bottom: 30px;
  background-color: rgba(240, 236, 236, 0.377);
}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgb(150, 149, 149);
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

header {
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: rgba(150, 149, 149, 0.671);
  width: 100%;
}

header input {
  width: 100%;
  border-radius: 30px;
}

header button {
  border-radius: 5px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.header-top {
  height: 20px;
}

.category-button {
  background-color: rgba(153, 205, 50, 0.781);
  border-radius: 3px;
  color: black;
  font-size: 13px;
  height: 40px;
  margin-right: 8px;
  margin-top: 5px;
  padding: 5px 0;
  width: 100px;
}

.card {
  text-decoration: none;
  color: black;
  text-align: center;
  box-shadow: inset 10em 0em 3em rgb(204, 204, 204);
  margin-bottom: 15px;
}

.card .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  text-decoration: none;
}

.recipes-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-details {
  text-align: center;
}

#instructions {
  margin-left: 10%;
  margin-right: 10%;
}

.filters-input {
  display: flex;
}

#categories {
  display: block;
  text-align: left;
  width: 300px;
  height: 700px;
  margin-top: 650px;
  background-color: rgb(192, 192, 192);
}

.category {
  margin-left: 10px;
}

#filterNationalite {
  align-self: flex-start;
}

@media (min-width: 700px) {
  .page-content {
    display: block;
  }
  .recipes-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    margin-right: 35px;
    margin-bottom: 10px;
  }
  #instructions {
    width: 500px;
  }
  .recipe-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}